
.al-intro-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: teal;
    z-index: 10000;
    color: #FFFFFF;
    text-align: center;
}
.al-custom-input{
    width: 100%;
    margin-bottom: 10px;
}

.al-button-layer{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.al-custom-btn{
    background: #ccc;
    padding: 3px 6px;
    text-decoration: none;
    border-radius: 2px;
}

.al-custom-tooltip-remove{
    position: absolute;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    z-index: 500;
    border: 1px solid #cccccc;
    border-radius: 50%;
    right: -8px;
    top: -8px;
    cursor: pointer;
}

.al-custom-tooltip-remove:after{
    content: 'x';
    z-index: 501;
    position: absolute;
    line-height: 18px;
    right: 7px;
}

.al-box {
    height: 40px;
    width: 40px;
    /*background: lightgray;*/
    position: relative;
}
.al-wrap {
    position: absolute;
    top: 0;
    left: 25%;
    height: 25%;
    width: 50%;
    overflow: hidden;
}
.al-touch {
    position: absolute;
    top: 0;
    left: 50%;
    height: 200%;
    width: 200%;
    transform: rotate(45deg);
    transform-origin: top left;
    background: gray;
    cursor: pointer;
}
.al-wrap:nth-child(2) {
    transform: rotate(90deg);
    transform-origin: top left;
    top: 25%;
    left: 100%;
}
.al-wrap:nth-child(3) {
    transform: rotate(180deg);
    transform-origin: top left;
    top: 100%;
    left: 75%;
}
.al-wrap:nth-child(4) {
    transform: rotate(-90deg);
    transform-origin: top left;
    top: 75%;
    left: 0;
}
.al-touch:hover {
    background: tomato;
}

.al-touch.al-arrow-selected{
    background: green;
}

.al-outline-css{
    border: 1px solid blue !important;
}

.al-textarea {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;
}