<html ng-app="alOnBoarding" ng-controller="AppController as app">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="./popup.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

<div style="top: 0;left: 0;bottom: 0; right: 0;position: absolute;">
    <div class="main-popup">
        <div style="width: 30px;" id="openPanel">
            &#x2190;
        </div>
        <div class="intro-form-container">
            <div class="abcd">
                <header>
                    <button id="closePanel" style="float: left;">&#x2192;</button>
                    <span>Intro js</span>
                </header>
                <main>
                    <div ng-repeat="step in app.steps track by $index" style="border: 1px solid #ccc;border-radius: 3px;">
                        <div class="step-view" ng-if="!step.updateStep">
                            <div class="step-data">
                                <p>{{step.intro}}</p>
                                <p>{{step.position}}</p>
                            </div>
                            <div class="step-remove">
                                <button ng-click="app.removeStep($index)" class="icon-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 48 48" height="18px" version="1.1" viewBox="0 0 48 48" width="18px" xml:space="preserve"><g id="Expanded"><g><g><path d="M41,48H7V7h34V48z M9,46h30V9H9V46z"/></g><g><path d="M35,9H13V1h22V9z M15,7h18V3H15V7z"/></g><g><path d="M16,41c-0.553,0-1-0.447-1-1V15c0-0.553,0.447-1,1-1s1,0.447,1,1v25C17,40.553,16.553,41,16,41z"/></g><g><path d="M24,41c-0.553,0-1-0.447-1-1V15c0-0.553,0.447-1,1-1s1,0.447,1,1v25C25,40.553,24.553,41,24,41z"/></g><g><path d="M32,41c-0.553,0-1-0.447-1-1V15c0-0.553,0.447-1,1-1s1,0.447,1,1v25C33,40.553,32.553,41,32,41z"/></g><g><rect height="2" width="48" y="7"/></g></g></g></svg>
                                </button>
                                <button ng-click="app.editStep($index);" class="icon-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="18" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="18"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"/><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"/></svg>
                                </button>
                            </div>
                        </div>
                        <div class="step-update" ng-if="step.updateStep">
                            <div style="padding: 5px 0;display: flex;align-items: flex-start;">
                                <label>Intro :</label>
                                <textarea style="flex: 1 0 0;margin-left: 5px;" rows="3" type="text" ng-model="step.intro"></textarea>
                            </div>
                            <div style="padding: 5px 0;display: flex;align-items: flex-start;">
                                <label>Tooltip position: </label>
                                <select style="flex: 1 0 0;margin-left: 5px;" name="position" id="step-position" ng-model="step.position">
                                    <option value="top">top</option>
                                    <option value="right">right</option>
                                    <option value="bottom">bottom</option>
                                    <option value="left">left</option>
                                </select>
                            </div>
                            <div style="padding: 5px 0;">
                                <button ng-click="app.saveStep($index)" class="edit-btn">
                                    Save
                                </button>
                                <button ng-click="app.cancel($index);" class="edit-btn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </main>
                <footer>
                    <button type="button" id="alNewStep" class="al-button">Add intro</button>
                    <button type="button" id="alRunIntro" class="al-button">Run intro</button>
                    <button type="button" class="al-button" data-toggle="modal" data-target="#myModal">Save Intro</button>
                    <!--ng-click="app.saveIntro()"-->

                </footer>
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Intro name </h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" id="introName" ng-model="app.introName">
                                </div>
                                <div class="form-group text-right">
                                    <button type="button" class="btn btn-default" ng-click="app.saveIntro(app.introName);">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--<script src="scrappy.js"></script>-->
<script src="../../lib/angular/jquery.js"></script>

<script src="../../lib/angular/angular.js"></script>
<script src="../../lib/angular/angular-animate.js"></script>
<script src="../../lib/angular/bootstrap.min.js"></script>
<script src="../../app/app.js"></script>
<script src="../../app/app.controller.js"></script>
<script src="./popup.js"></script>
</body>
</html>





<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>On-boarding</title>
    <link rel="stylesheet" href="popup.css">
</head>
<body>
<div style="top: 0;left: 0;bottom: 0; right: 0;position: absolute;">
    <div class="main-popup">
        <div style="width: 30px;" id="openPanel">
            <<
        </div>
        <div class="intro-form-container">
            <div class="abcd">
                <div class="heading">
                    <button id="closePanel" style="float: left;"> <&#45;&#45; </button>
                    <span>Intro js</span>
                </div>
                <div class="content">

                </div>
                <div class="footer">
                    <button type="button" id="alRunIntro" class="al-button">Run intro</button>
                    <button type="button" id="alNewStep" class="al-button">Add intro</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="./popup.js"></script>

</body>
</html>-->

