
body{
    overflow-x: hidden;
}

.al-button {
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.al-button:hover {
    background-color: #008CBA;
    color: white;
}


.main-popup{
    display: flex;
    height: 100%;
    width: 100%;
}

.main-popup .intro-form-container{
    display: none;
}

.main-popup.open #openPanel{
    display: none;
}

.main-popup.open .intro-form-container{
    display: block;
}

.intro-form-container{
    /*padding: 10px;*/
    flex: 1 0 0;
    width: inherit;
}

.abcd {
    display: flex;
    flex-direction: column;
    height:100%;
}

.abcd header{
    padding: 20px;
    background-color: teal;
    text-align: center;
    font-size: 24px;
    color: #FFF;
}

.abcd main{
    padding: 10px;
    font-size: 16px;
    flex: 1 0 0;
}

.abcd footer{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.step-view{
    background-color: #FFFFFF;
    margin-top: 5px;
    display: flex;
    /*align-items: center;*/
}

.step-view p {
    padding: 5px;
    margin: 0;
}

.step-view .step-data{
    flex: 1 0 0;
}

.step-remove{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.step-update{
    background: #FFF;
    margin-top: 5px;
    padding: 6px;
}

.icon-button{
    background: transparent;
    border: none;
    outline: none;
    color: #ccc;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;
}

select {
    width: 100%;
    outline: none;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.edit-btn{
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: #000000;
}

