<html ng-app="alOnBoarding" ng-controller="AppController as app">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="./popup.css">
</head>
<body>

<div style="top: 0;left: 0;bottom: 0; right: 0;position: absolute;">
    <div class="main-popup">
        <div style="width: 30px;" id="openPanel">
            <<
        </div>
        <div class="intro-form-container">
            <div class="abcd">
                <div class="heading">
                    <button id="closePanel" style="float: left;"> <&#45;&#45; </button>
                    <span>Intro js</span>
                </div>
                <div class="content">
                    <div ng-repeat="step in app.steps track by $index">
                        <div class="step-view">
                            <div class="step-data">
                                <p>{{step.intro}}</p>
                                <p>{{step.position}}</p>
                            </div>
                            <div class="step-remove">
                                <button ng-click="app.removeStep($index)">X</button>
                                <button ng-click="app.updateStep($index);">Update</button>
                            </div>
                        </div>
                        <div class="step-update">
                            <input type="text" ng-model="" value="{{step.intro}}">
                            <select name="position" id="step-position">
                                <option value="top">top</option>
                                <option value="right">right</option>
                                <option value="bottom">bottom</option>
                                <option value="left">left</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button type="button" id="alRunIntro" class="al-button">Run intro</button>
                    <button type="button" id="alNewStep" class="al-button">Add intro</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="scrappy.js"></script>-->
<script src="../../lib/angular/jquery.js"></script>

<script src="../../lib/angular/angular.js"></script>
<script src="../../lib/angular/ng-file-upload.min.js"></script>
<script src="../../lib/angular/angular-animate.js"></script>
<script src="../../app/app.js"></script>
<script src="../../app/app.controller.js"></script>
<script src="./popup.js"></script>
</body>
</html>





<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>On-boarding</title>
    <link rel="stylesheet" href="popup.css">
</head>
<body>
<div style="top: 0;left: 0;bottom: 0; right: 0;position: absolute;">
    <div class="main-popup">
        <div style="width: 30px;" id="openPanel">
            <<
        </div>
        <div class="intro-form-container">
            <div class="abcd">
                <div class="heading">
                    <button id="closePanel" style="float: left;"> <&#45;&#45; </button>
                    <span>Intro js</span>
                </div>
                <div class="content">

                </div>
                <div class="footer">
                    <button type="button" id="alRunIntro" class="al-button">Run intro</button>
                    <button type="button" id="alNewStep" class="al-button">Add intro</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="./popup.js"></script>

</body>
</html>-->

